<div class="row">
    <div class="col-4"><h2>Your favourite cities</h2></div>
    <div class="col-4"></div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="City name" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
  </div>
  
  <div class="row row-cols-md-5">
      <!-- LISTA DE CIUDADES FAVORITAS -->
  </div>
  